.num {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    width: 3em;
    height: 3em;
 }

.container{
    display: grid;
    grid-template-columns: 250px 1fr 2fr 20%;
    grid-template-rows: auto 300px auto;
    border: solid black 1px;
    row-gap: 20px;
    column-gap: 10px;
}

.el{
    display: flex;
    justify-content: center;
    align-items: center;
}

.el:nth-child(1){
    grid-column-start: 1;
    grid-column-end: span 2;
}

.el:nth-child(5n + 1){
    background-color: rgba(56, 140, 250, 0.782);
}

.el:nth-child(5n + 2){
    background-color: rgba(188, 56, 250, 0.749);
}

.el:nth-child(5n + 3){
    background-color: rgba(224, 250, 56, 0.733);
}

.el:nth-child(5n + 4){
    background-color: rgba(56, 250, 137, 0.689);
}

.el:nth-child(5n + 5){
    background-color: rgba(250, 56, 56, 0.722);
}